@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

label {
  font-weight: 400;
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none; }

a {
  color: inherit;
  outline: none !important; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn:hover {
    opacity: .7; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  min-width: 320px;
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.page-header {
  position: relative; }
  .page-header .page-intro {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 34px 0;
    background-image: url(/comm/images/sub/bg_xs_page_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
    .page-header .page-intro small {
      display: none;
      text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3); }
    .page-header .page-intro h2 {
      font-size: 28px;
      color: #fff;
      font-weight: bold;
      text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3); }
  .page-header .snb-nav ol {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .page-header .snb-nav ol li {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      height: 40px;
      border-bottom: 1px solid #ccc; }
      .page-header .snb-nav ol li.home {
        width: 40px;
        padding: 0;
        color: #fff;
        border-bottom: 1px solid #004483; }
        .page-header .snb-nav ol li.home a {
          display: block;
          width: 40px;
          font-size: 13px;
          line-height: 40px;
          text-align: center;
          background-color: #004483; }
      .page-header .snb-nav ol li .dropdown {
        width: 100%;
        border-radius: 0; }
        .page-header .snb-nav ol li .dropdown .btn-secondary {
          width: 100%;
          font-size: 12px;
          line-height: 40px;
          color: #666;
          text-align: left;
          font-weight: 400;
          opacity: 1 !important;
          padding: 0 10px;
          background: none; }
          .page-header .snb-nav ol li .dropdown .btn-secondary:after {
            float: right;
            width: auto;
            color: #999;
            content: "\F004";
            font-family: "fontello";
            border: 0; }
        .page-header .snb-nav ol li .dropdown .dropdown-menu {
          min-width: 100%;
          margin: 0;
          padding: 0;
          border: 0;
          box-sizing: initial;
          border-left: 1px solid #ccc;
          border-radius: 0;
          transform: translate3d(-1px, 41px, 0px) !important; }
          .page-header .snb-nav ol li .dropdown .dropdown-menu > a {
            display: block;
            font-size: 12px;
            font-weight: 400;
            padding: 0 10px;
            line-height: 40px;
            color: #666;
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-top: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .page-header .snb-nav ol li .dropdown .dropdown-menu > a:hover {
              color: #fff;
              background-color: #2079d8; }
        .page-header .snb-nav ol li .dropdown.show .btn-secondary:after {
          color: #2079d8;
          content: "\F005"; }
        .page-header .snb-nav ol li .dropdown.lnb-menu {
          position: relative; }
          .page-header .snb-nav ol li .dropdown.lnb-menu:before {
            position: absolute;
            top: 0;
            left: -1px;
            width: 1px;
            height: 100%;
            content: "";
            border-left: 1px solid #ccc; }
  @media (min-width: 768px) {
    .page-header .page-intro {
      height: 150px;
      padding: 55px 0; }
      .page-header .page-intro h2 {
        font-size: 34px; }
    .page-header .snb-nav ol li {
      height: 50px; }
      .page-header .snb-nav ol li.home {
        width: 50px; }
        .page-header .snb-nav ol li.home a {
          width: 50px;
          font-size: 18px;
          line-height: 50px; }
      .page-header .snb-nav ol li .dropdown .btn-secondary {
        font-size: 15px;
        line-height: 50px;
        padding: 0 20px; }
      .page-header .snb-nav ol li .dropdown .dropdown-menu {
        box-sizing: border-box;
        transform: translate3d(0px, 51px, 0px) !important; }
        .page-header .snb-nav ol li .dropdown .dropdown-menu a {
          font-size: 15px;
          line-height: 50px;
          padding: 0 20px; } }
  @media (min-width: 992px) {
    .page-header .page-intro {
      padding: 75px 0;
      height: 250px;
      background-image: url(/comm/images/sub/bg_xl_page_header.jpg); }
      .page-header .page-intro small {
        display: block;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 10px;
        letter-spacing: .5px;
        font-family: 'Montserrat', sans-serif; }
      .page-header .page-intro h2 {
        font-size: 58px; } }
  @media (min-width: 1200px) {
    .page-header {
      border-bottom: 3px solid #004483; }
      .page-header .page-intro {
        padding: 0;
        padding-top: 75px;
        height: 300px; }
      .page-header .snb-nav {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%; }
        .page-header .snb-nav ol {
          display: block;
          width: 1170px;
          height: 60px;
          margin: 0 auto;
          border-bottom: 1px solid #ccc;
          background-color: #fff; }
          .page-header .snb-nav ol li {
            display: block;
            float: left;
            height: 60px;
            border-bottom: 0; }
            .page-header .snb-nav ol li.home {
              width: 70px; }
              .page-header .snb-nav ol li.home a {
                width: 70px;
                line-height: 60px;
                -webkit-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-delay: 0s;
                transition-delay: 0s; }
                .page-header .snb-nav ol li.home a:hover {
                  background-color: #2079d8; }
            .page-header .snb-nav ol li .dropdown:before {
              display: none; }
            .page-header .snb-nav ol li .dropdown .btn-secondary {
              font-size: 16px;
              padding: 0 30px;
              line-height: 60px;
              border-right: 1px solid #ccc; }
            .page-header .snb-nav ol li .dropdown .dropdown-menu {
              transform: translate3d(0px, 60px, 0px) !important; }
              .page-header .snb-nav ol li .dropdown .dropdown-menu a {
                font-size: 16px;
                padding: 0 30px;
                line-height: 60px; }
            .page-header .snb-nav ol li:nth-of-type(2) {
              width: 230px; }
            .page-header .snb-nav ol li:nth-of-type(3) {
              width: 300px;
              margin-left: -1px; } }

.section-header {
  text-align: center;
  padding: 40px 0 30px; }
  .section-header h3 {
    font-size: 25px;
    color: #004483;
    font-weight: 500;
    letter-spacing: -.25px; }
  @media (min-width: 768px) {
    .section-header {
      padding: 60px 0 50px; }
      .section-header h3 {
        font-size: 30px; } }
  @media (min-width: 992px) {
    .section-header {
      padding: 80px 0 70px; }
      .section-header h3 {
        font-size: 42px; } }

.section-content {
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .section-content {
      padding-bottom: 100px; } }
  @media (min-width: 992px) {
    .section-content {
      padding-bottom: 150px; } }

.tab-menu {
  text-align: center; }
  .tab-menu > ul {
    font-size: 0; }
    .tab-menu > ul > li {
      display: inline-block;
      margin-right: 10px; }
      .tab-menu > ul > li a {
        display: block;
        width: 145px;
        font-weight: 400;
        font-size: 12px;
        line-height: 35px;
        text-align: center;
        color: #fff;
        background-color: #939598; }
      .tab-menu > ul > li:last-child {
        margin-right: 0; }
      .tab-menu > ul > li.active a {
        background-color: #004483; }
  @media (min-width: 768px) {
    .tab-menu > ul > li > a {
      width: 180px;
      font-size: 15px;
      line-height: 45px; } }
  @media (min-width: 1200px) {
    .tab-menu > ul > li > a {
      font-size: 16px;
      line-height: 50px; } }

.table-responsive .table {
  margin: 0; }
  .table-responsive .table thead tr th {
    position: relative;
    font-size: 13px;
    color: #004483;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
    padding: 15px 0;
    border: 0;
    border-top: 3px solid #004483;
    border-bottom: 1px solid #004483;
    background-color: #f6f6f6; }
    .table-responsive .table thead tr th:after {
      position: absolute;
      top: 50%;
      right: -1px;
      display: block;
      width: 1px;
      height: 16px;
      content: "";
      margin-top: -8px;
      z-index: 1;
      background-color: #004483; }
    .table-responsive .table thead tr th:last-child:after {
      display: none; }
  .table-responsive .table tbody tr td {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    padding: 20px;
    border: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
    .table-responsive .table tbody tr td:last-child {
      border-right: 0; }
  @media (min-width: 768px) {
    .table-responsive .table thead tr th {
      font-size: 14px;
      line-height: 22px; }
    .table-responsive .table tbody tr td {
      font-size: 14px;
      line-height: 22px; } }
  @media (min-width: 992px) {
    .table-responsive .table thead tr th {
      font-size: 15px;
      line-height: 26px;
      padding: 17px 0; }
    .table-responsive .table tbody tr td {
      font-size: 15px;
      line-height: 26px;
      padding: 20px 30px; } }

.article-header {
  padding-bottom: 20px; }
  .article-header h4 {
    position: relative;
    font-size: 16px;
    color: #333;
    letter-spacing: -.25px;
    font-weight: 500;
    padding-left: 11px; }
    .article-header h4:before {
      position: absolute;
      top: -4px;
      left: 0;
      width: 20px;
      height: 20px;
      display: block;
      z-index: -1;
      border-radius: 50%;
      background-color: #d2e4f7;
      content: ""; }
  @media (min-width: 768px) {
    .article-header {
      padding-bottom: 30px; }
      .article-header h4 {
        font-size: 20px;
        padding-left: 15px; }
        .article-header h4:before {
          top: -7px;
          width: 25px;
          height: 25px; } }
  @media (min-width: 992px) {
    .article-header {
      padding-bottom: 35px; }
      .article-header h4 {
        padding-left: 17px;
        font-size: 27px; }
        .article-header h4:before {
          top: -6px;
          width: 30px;
          height: 30px; } }

.sub-title {
  position: relative;
  padding-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #004483; }
  .sub-title:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #2078d9; }
  @media (min-width: 768px) {
    .sub-title {
      font-size: 17px;
      padding-top: 20px; } }
  @media (min-width: 992px) {
    .sub-title {
      font-size: 20px; } }

.dot-list > li {
  position: relative;
  font-size: 12px;
  color: #666;
  line-height: 20px;
  font-weight: 400;
  padding-left: 10px; }
  .dot-list > li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\E801";
    font-family: "fontello"; }
@media (min-width: 768px) {
  .dot-list > li {
    font-size: 14px;
    line-height: 26px;
    padding-left: 15px; } }
@media (min-width: 992px) {
  .dot-list > li {
    font-size: 15px; } }

.check-list > li {
  position: relative;
  font-size: 12px;
  color: #666;
  line-height: 20px;
  padding-left: 20px; }
  .check-list > li:before {
    position: absolute;
    top: 0;
    left: 0;
    color: #004483;
    content: "\E807";
    font-family: "fontello"; }
.check-list.light > li:before {
  color: #2079d8; }
@media (min-width: 768px) {
  .check-list > li {
    font-size: 14px;
    line-height: 28px; } }
@media (min-width: 992px) {
  .check-list > li {
    font-size: 15px;
    line-height: 32px; } }

.circle-list > li {
  position: relative;
  font-size: 12px;
  color: #666;
  font-weight: 400;
  line-height: 18px;
  padding-left: 30px;
  counter-increment: my-list-index; }
  .circle-list > li:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .5px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    background-color: #004483;
    content: "0" counter(my-list-index); }
  .circle-list > li ~ li {
    margin-top: 2px; }
.circle-list.light > li:before {
  background-color: #2079d8; }
@media (min-width: 768px) {
  .circle-list > li {
    font-size: 14px;
    line-height: 20px; }
    .circle-list > li:before {
      width: 20px;
      height: 20px;
      line-height: 22px; }
    .circle-list > li ~ li {
      margin-top: 10px; } }
@media (min-width: 992px) {
  .circle-list > li {
    font-size: 15px; } }

/*# sourceMappingURL=sub.css.map */
