@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

label {
  font-weight: 400;
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none; }

a {
  color: inherit;
  outline: none !important; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn:hover {
    opacity: .7; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  min-width: 320px;
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.page-header.value-spread .page-intro {
  background-image: url(/comm/images/value_spread/bg_xs_page_header.jpg); }
@media (min-width: 992px) {
  .page-header.value-spread .page-intro {
    background-image: url(/comm/images/value_spread/bg_xl_page_header.jpg); } }

.process .section-content article ~ article {
  margin-top: 50px; }
.process .section-content article .article-header {
  padding-bottom: 30px; }
.process .section-content article .sub-title {
  line-height: 24px;
  margin-bottom: 20px; }
  .process .section-content article .sub-title ~ .sub-title {
    letter-spacing: -.5px;
    margin-top: 35px; }
  .process .section-content article .sub-title small {
    display: block;
    font-size: 12px;
    color: #666;
    font-weight: 300;
    letter-spacing: 0; }
.process .section-content article .divide-content > ul > li ~ li .details {
  margin-top: 0; }
.process .section-content article .divide-content > ul > li:first-child {
  position: relative;
  background-image: url(/comm/images/value_spread/icon_arrow_b.jpg);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 50% 95%; }
  .process .section-content article .divide-content > ul > li:first-child .details {
    margin-bottom: 45px; }
.process .section-content article .erica-mooc .box {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8; }
  .process .section-content article .erica-mooc .box.space {
    margin-top: 10px; }
  .process .section-content article .erica-mooc .box > dl > dt {
    font-size: 13px;
    color: #333;
    font-weight: 400; }
  .process .section-content article .erica-mooc .box > dl > dd {
    margin-top: 20px; }
    .process .section-content article .erica-mooc .box > dl > dd .decimal-list > li {
      line-height: 20px; }
      .process .section-content article .erica-mooc .box > dl > dd .decimal-list > li:before {
        top: 2px; }
@media (min-width: 1200px) {
  .process .section-content article .table-responsive .table thead tr th:nth-of-type(1) {
    width: 240px; }
  .process .section-content article .table-responsive .table thead tr th:nth-of-type(4) {
    width: 200px; } }
@media (min-width: 768px) {
  .process .section-content article ~ article {
    margin-top: 60px; }
  .process .section-content article .article-header {
    padding-bottom: 40px; }
  .process .section-content article .sub-title {
    margin-bottom: 30px; }
    .process .section-content article .sub-title ~ .sub-title {
      margin-top: 45px; }
    .process .section-content article .sub-title small {
      font-size: 13px;
      margin-left: 10px;
      display: inline-block; }
  .process .section-content article .divide-content > ul > li:first-child {
    background-position: 50% 94%; }
    .process .section-content article .divide-content > ul > li:first-child .details {
      margin-bottom: 60px; }
  .process .section-content article .erica-mooc .box {
    padding: 30px; }
    .process .section-content article .erica-mooc .box.space {
      margin-top: 30px; }
    .process .section-content article .erica-mooc .box > dl > dt {
      font-size: 15px; }
    .process .section-content article .erica-mooc .box > dl > dd {
      margin-top: 25px; } }
@media (min-width: 992px) {
  .process .section-content article ~ article {
    margin-top: 80px; }
  .process .section-content article .article-header {
    padding-bottom: 40px; }
  .process .section-content article .sub-title ~ .sub-title {
    margin-top: 60px; }
  .process .section-content article .sub-title small {
    font-size: 15px; }
  .process .section-content article .divide-content > ul > li:first-child {
    background: none; }
    .process .section-content article .divide-content > ul > li:first-child .details {
      margin-right: 20px;
      margin-bottom: 0; }
    .process .section-content article .divide-content > ul > li:first-child:after {
      position: absolute;
      top: 50%;
      right: -15px;
      margin-top: -16px;
      content: url(/comm/images/value_spread/icon_arrow_r.jpg); }
  .process .section-content article .divide-content > ul > li:last-child .details {
    margin-left: 20px; }
  .process .section-content article .erica-mooc .box {
    height: 235px; }
    .process .section-content article .erica-mooc .box.space {
      margin-top: 0; }
      .process .section-content article .erica-mooc .box.space figure {
        padding-top: 25px; }
        .process .section-content article .erica-mooc .box.space figure .img-fluid {
          width: 404px; }
    .process .section-content article .erica-mooc .box > dl > dt {
      font-size: 15px; }
    .process .section-content article .erica-mooc .box > dl > dd {
      margin-top: 25px; }
      .process .section-content article .erica-mooc .box > dl > dd .decimal-list > li {
        line-height: 26px; }
        .process .section-content article .erica-mooc .box > dl > dd .decimal-list > li:before {
          top: 3px; } }
@media (min-width: 1200px) {
  .process .section-content article .erica-mooc .box {
    height: 250px; }
    .process .section-content article .erica-mooc .box.space {
      margin-top: 0; }
      .process .section-content article .erica-mooc .box.space figure {
        padding-top: 0; }
        .process .section-content article .erica-mooc .box.space figure .img-fluid {
          width: 100%; } }

.education .section-content > figure {
  padding: 20px 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8; }
.education .section-content article {
  margin-top: 50px; }
  .education .section-content article p {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px; }
  .education .section-content article .dot-list > li:before {
    color: #2079d8; }
  .education .section-content article .dot-list > li b {
    display: block;
    font-size: 12px;
    color: #2079d8;
    font-weight: 400;
    line-height: 20px; }
  .education .section-content article .dot-list > li > dl > dt {
    font-size: 12px;
    color: #2079d8;
    font-weight: 400;
    line-height: 20px; }
  .education .section-content article .dot-list > li > dl > dd {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    line-height: 20px; }
  .education .section-content article .dot-list > li ~ li {
    margin-top: 15px; }
@media (min-width: 768px) {
  .education .section-content figure {
    padding: 35px 30px; }
  .education .section-content article {
    margin-top: 60px; }
    .education .section-content article p {
      font-size: 13px;
      margin-top: 30px;
      line-height: 24px; }
    .education .section-content article .dot-list > li b {
      font-size: 14px; }
    .education .section-content article .dot-list > li > dl > dt {
      font-size: 14px; }
    .education .section-content article .dot-list > li > dl > dd {
      font-size: 13px;
      margin-top: 10px; }
    .education .section-content article .dot-list > li ~ li {
      margin-top: 20px; } }
@media (min-width: 992px) {
  .education .section-content figure {
    padding: 65px 30px; }
  .education .section-content article {
    margin-top: 80px; }
    .education .section-content article p {
      font-size: 15px;
      margin-top: 35px; }
    .education .section-content article .dot-list > li:before {
      font-size: 28px; }
    .education .section-content article .dot-list > li b {
      font-size: 16px; }
    .education .section-content article .dot-list > li > dl > dt {
      font-size: 16px; }
    .education .section-content article .dot-list > li > dl > dd {
      font-size: 15px; }
    .education .section-content article .dot-list > li ~ li {
      margin-top: 25px; } }

.special-lecture .section-content article .article-header {
  padding-bottom: 30px; }
  .special-lecture .section-content article .article-header p {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px; }
@media (min-width: 768px) {
  .special-lecture .section-content article .article-header {
    padding-bottom: 50px; }
    .special-lecture .section-content article .article-header p {
      font-size: 14px; } }
@media (min-width: 1200px) {
  .special-lecture .section-content article .article-header p {
    font-size: 15px;
    margin-top: 40px; } }

/*# sourceMappingURL=value_spread.css.map */
